In [91]:
import pandas as pd
import numpy as np
import re

In [92]:
data = pd.read_csv('Signs.csv')
data.head()

,longtitude,latitude,OBJECTID,SG_KEY_BOR,SG_ORDER_N,SG_SEQNO_N,SG_MUTCD_C,SR_DIST,SG_SIGN_FC,SG_ARROW_D,x,y,SIGNDESC1
0,-73.922335,40.836256,11919717,B,P-132428,3,SP-287B,45,NaN,NaN,1005740.86711,243957.356623,NO STANDING 10AM-6PM MON THRU FRI
1,-73.922335,40.836256,11919718,B,P-132428,4,SP-672G,45,NaN,NaN,1005740.86711,243957.356623,EXCEPT
2,-73.922335,40.836256,11919719,B,P-132428,5,SP-579G,45,NaN,NaN,1005740.86711,243957.356623,AMBULETTE
3,-73.922330,40.836352,11919720,B,P-132428,6,SP-287BA,80,NaN,S,1005742.32839,243992.461212,NO STANDING 10AM-6PM MON THRU FRI (SINGLE ARROW)
4,-73.922330,40.836352,11919721,B,P-132428,7,SP-672G,80,NaN,NaN,1005742.32839,243992.461212,EXCEPT

In [93]:
data['SIGNDESC1'].head()

0                   NO STANDING 10AM-6PM MON THRU FRI
1                                              EXCEPT
2                                           AMBULETTE
3    NO STANDING 10AM-6PM MON THRU FRI (SINGLE ARROW)
4                                              EXCEPT
Name: SIGNDESC1, dtype: object

In [318]:
# https://regex101.com/r/fC0lI5/10
p = re.compile(r'(NOON|MIDNIGHT.*|[01]?[0-9]+:?[0-9]*(?:[AP]MM?)?)\s*(?:-|TO|\s)\s*(NOON|MIDNIGHT|[01]?[0-9]+:?[0-9]*(?:[AP]MM?)?)')

def extract_time(desc, group=1):
    m = p.search(desc)
    if m:
        time = m.group(group)
        if time == 'MIDNIGHT':
            return '12AM'
        elif time == 'MIDNIGHT TO':
            return '12AM'
        elif time == 'NOON':
            return '12PM'
        elif 'MM' in time:
            match_amm_or_pmm = re.compile(r'([0-9])*?([AP]MM?)')
            matched_time = match_amm_or_pmm.search(time)
            if matched_time:
                meridiem = 'AM' if matched_time.group(2) == 'AMM' else 'PM'
                oclock = matched_time.group(1)
                return '{0}{1}'.format(oclock, meridiem)
                
        return m.group(group)
    return np.nan

def from_time(signdesc):
    return extract_time(signdesc, group=1)
def to_time(signdesc):
    return extract_time(signdesc, group=2)

In [284]:
# Special Case
#assert extract_time('1 HR MUNI-METER PARKING 10AM-7PM MON THRU FRI 8AM-7PM SATURDAY W/ SINGLE ARROW') == ''
row = 'NO PARKING (SANITATION BROOM SYMBOL) 7AM-7:30AM EXCEPT SUNDAY'
assert from_time(row) == '7AM'
assert to_time(row) == '7:30AM'

special_case1 = 'NO PARKING (SANITATION BROOM SYMBOL) 11:30AM TO 1PM THURS'
assert from_time(special_case1) == '11:30AM'
assert to_time(special_case1) == '1PM'

special_case2 = 'NO PARKING (SANITATION BROOM SYMBOL) MOON & STARS (SYMBOLS) TUESDAY FRIDAY MIDNIGHT-3AM'
assert from_time(special_case2) == '12AM'
assert to_time(special_case2) == '3AM'

special_case3 = 'TRUCK (SYMBOL) TRUCK LOADING ONLY MONDAY-FRIDAY NOON-2PM'
assert from_time(special_case3) == '12PM'
assert to_time(special_case3) == '2PM'

special_case4 = 'NIGHT REGULATION (MOON & STARS SYMBOLS) NO PARKING (SANITATION BROOM SYMBOL) MIDNIGHT TO-3AM WED & SAT'
assert from_time(special_case4) == '12AM'
assert to_time(special_case4) == '3AM'

special_case5 = 'NO PARKING (SANITATION BROOM SYMBOL)8AM 11AM TUES & THURS'
assert from_time(special_case5) == '8AM'
assert to_time(special_case5) == '11AM'

special_case6 = 'NO PARKING (SANITATION BROOM SYMBOL) MONDAY THURSDAY 7AMM-7:30AM'
assert from_time(special_case6) == '7AM'
assert to_time(special_case6) == '7:30AM'

In [285]:
def filter_from_time(row):
    if not pd.isnull(row['SIGNDESC1']):
        return from_time(row['SIGNDESC1'])
    return np.nan

In [286]:
def filter_to_time(row):
    if not pd.isnull(row['SIGNDESC1']):
        return to_time(row['SIGNDESC1'])
    return np.nan

In [288]:
data['FROM_TIME'] = data.apply(filter_from_time, axis=1)

In [289]:
data['TO_TIME'] = data.apply(filter_to_time, axis=1)

In [290]:
data[['SIGNDESC1', 'FROM_TIME', 'TO_TIME']].head(10)

                                           SIGNDESC1 FROM_TIME TO_TIME
0                  NO STANDING 10AM-6PM MON THRU FRI      10AM     6PM
1                                             EXCEPT       NaN     NaN
2                                          AMBULETTE       NaN     NaN
3   NO STANDING 10AM-6PM MON THRU FRI (SINGLE ARROW)      10AM     6PM
4                                             EXCEPT       NaN     NaN
5                                          AMBULETTE       NaN     NaN
6  NO PARKING (SANITATION BROOM SYMBOL) 11:30AM T...   11:30AM     1PM
7  OTHER TIMES 1 HOUR PARKING 9AM-7PM EXCEPT SUND...       9AM     7PM
8  NO PARKING (SANITATION BROOM SYMBOL) 11:30AM T...   11:30AM     1PM
9  NO PARKING PASSENGER LOADING ZONE W/ SINGLE ARROW       NaN     NaN

# Find out if any rows has NaN

Want to find out if any rows has NaN from `from_time` and `to_time` but has timing in SIGNDESC1

In [291]:
rows_with_AM_PM_but_time_NaN = data[(data['FROM_TIME'].isnull() | data['FROM_TIME'].isnull()) & (data['SIGNDESC1'].str.contains('[0-9]+(?:[AP]M)'))]

In [292]:
len(rows_with_AM_PM_but_time_NaN)

6

In [293]:
rows_with_AM_PM_but_time_NaN[['SIGNDESC1', 'FROM_TIME', 'TO_TIME']]

                                                SIGNDESC1 FROM_TIME TO_TIME
180670  TRUCK (SYMBOL) TRUCK LOADING ONLY MONDAY-FRIDA...       NaN     NaN
212089  NO PARKING (SANITATION BROOM SYMBOL) TUESDAY F...       NaN     NaN
258938  NO PARKING (SANITATION BROOM SYMBOL) TUESDAY F...       NaN     NaN
258942  NO PARKING (SANITATION BROOM SYMBOL) TUESDAY F...       NaN     NaN
258944  NO PARKING (SANITATION BROOM SYMBOL) TUESDAY F...       NaN     NaN
283262                     6 HMP 7:30AM=7PM EXCEPT SUNDAY       NaN     NaN

In [295]:
data.iloc[180670, data.columns.get_loc('SIGNDESC1')]

'TRUCK (SYMBOL) TRUCK LOADING ONLY MONDAY-FRIDAY 9AM-=4PM'

In [304]:
data.iloc[180670, data.columns.get_loc('FROM_TIME')] = '9AM'
data.iloc[180670, data.columns.get_loc('TO_TIME')] = '4AM'

In [298]:
data.iloc[212089, data.columns.get_loc('SIGNDESC1')]

'NO PARKING (SANITATION BROOM SYMBOL) TUESDAY FRIDAY 10A M-11:30AM'

In [306]:
data.iloc[212089, data.columns.get_loc('FROM_TIME')] = '10AM'
data.iloc[212089, data.columns.get_loc('TO_TIME')] = '11:30AM'

In [307]:
data.iloc[258938, data.columns.get_loc('SIGNDESC1')]

'NO PARKING (SANITATION BROOM SYMBOL) TUESDAY FRIDAY 10A M-11:30AM'

In [309]:
data.iloc[258938, data.columns.get_loc('FROM_TIME')] = '10AM'
data.iloc[258938, data.columns.get_loc('TO_TIME')] = '11:30AM'

In [310]:
data.iloc[258942, data.columns.get_loc('SIGNDESC1')]

'NO PARKING (SANITATION BROOM SYMBOL) TUESDAY FRIDAY 10A M-11:30AM'

In [311]:
data.iloc[258942, data.columns.get_loc('FROM_TIME')] = '10AM'
data.iloc[258942, data.columns.get_loc('TO_TIME')] = '11:30AM'

In [312]:
data.iloc[258944, data.columns.get_loc('SIGNDESC1')]

'NO PARKING (SANITATION BROOM SYMBOL) TUESDAY FRIDAY 10A M-11:30AM'

In [313]:
data.iloc[258944, data.columns.get_loc('FROM_TIME')] = '10AM'
data.iloc[258944, data.columns.get_loc('TO_TIME')] = '11:30AM'

In [314]:
data.iloc[283262, data.columns.get_loc('SIGNDESC1')]

'6 HMP 7:30AM=7PM EXCEPT SUNDAY'

In [315]:
data.iloc[283262, data.columns.get_loc('FROM_TIME')] = '6AM'
data.iloc[283262, data.columns.get_loc('TO_TIME')] = '7:30AM'

Confirm that every row has `from_time` and `to_time`

In [317]:
rows_with_AM_PM_but_time_NaN = data[(data['FROM_TIME'].isnull() | data['FROM_TIME'].isnull()) & (data['SIGNDESC1'].str.contains('[0-9]+(?:[AP]M)'))]
len(rows_with_AM_PM_but_time_NaN)

0

# Day of the week

In [320]:
data['SIGNDESC1'].unique()

array(['NO STANDING 10AM-6PM MON THRU FRI', 'EXCEPT', 'AMBULETTE', ...,
       'KEEP DRIVEWAY CLEAR',
       'OTHER TIMES 5 HOUR PARKING 9AM-10PM EXCEPT SUNDAY (ARROW)',
       'FERRY OPERATIONS'], dtype=object)